# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project
.vscode/
build/
bin/
data/input/Public/wlp20.dzn
cte-500
cte_500.txt
cfg_cte_500.txt
data/output/q_evolution/gvns-vnd-rl-bin_500/q_evolution_wlp02.dzn.csv
data/output/q_evolution/gvns-vnd-rl-bin_500/q_evolution_wlp03.dzn.csv
data/output/q_evolution/gvns-vnd-rl-bin_500/
